# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# IDE
.vscode/
.idea/

# MLflow runtime artifacts
mlflow.db
mlruns/
notebooks/sequence_model/mlruns/
notebooks/structural_model/mlruns/

# Generated outputs
*.xlsx
